/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
Arka01_Directrices_Arquitecturav2.md
Arka01_Alcance_Proyectov2.md
Manual_Clientev2.md
Manual_Conductorv2.md
Arka01_Progresov2.md
Arka01_Conceptov2.html
