/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
Arka01_Directrices_Arquitectura.md
Arka01_Alcance_Proyecto.md
Manual_Cliente.md
Manual_Conductor.md
Arka01_Progreso.md
